    <ul class="competence step-container">
        <li class="step step-0"><span>Unconcious Incompetence</span></li>
        <li class="step step-1"><span>Concious Incompetence</span></li>
        <li class="step step-2"><span>Concious Competence</span></li>
        <li class="step step-3"><span>Unconcious Competence</span></li>
    </ul>
    <ul class="literacy step-container">
        <li class="step step-0"><span>Literacy</span></li>
        <li class="step step-1"><span>Fluency</span></li>
        <li class="step step-2"><span>Mastery</span></li>
    </ul>
    <div class="content">
        <h2 class="title"></h2>
        <p class="body"></p>
        <label class="success-label">You’ll know you’ve done a good job when…</label>
        <p class="success"></p>
    </div>
    <ul class="team step-container">
        <li class="step step-0"><span>Dark Ages: No UX Design</span></li>
        <li class="step step-1"><span>Spot UX Design</span></li>
        <li class="step step-2"><span>UX Design as a Service</span></li>
        <li class="step step-3"><span>Embeded UX Design</span></li>
        <li class="step step-4"><span>Infused UX Design</span></li>
    </ul>
    <label class="id"></label>